*
*/
!.gitignore
!assassin.py
!black_isort.py
!branch_checkout.py
!checkout_master_check_dumps.py
!checkout_pr.sh
!commission_figs.py
!dl_backup.py
!fbb.py
!foo.py
!ringo-server.sh
!run_linter.py
!run_test.py
!setup.sh
!.bash_custom
!.git_custom
!pull_pull_request.py